<footer style="background-color: black; color: white; padding: 25px">
  <h3 style="margin: 0; text-align: center; font-family: cursive">
    There is something else to show you:
    <a
      style="font-family: 'cursive'"
      href="https://github.com/ohzecodes/theGreatHotelApp"
    >
      A github page
    </a>
  </h3>
</footer>
