@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
:root {
  --sec: var(--cardcolor);
  --bg: #000;
  --h2: #415d43;
  --star: #e1b80d;
  --border: var(--h2);
  --website: #5a6553;
  --cardcolor: #dce0d9;
}

body {
  background-color: var(--bg);
  font-family: "montserrat";
  font-weight: 300;
}

h2,
p,
div {
  margin: 0;
  padding: 0;
}

.onetwo {
  width: 50%;
  background-color: white;
  height: fit-content;
  margin: auto;
  margin-bottom: 20px;
}

.search-result {
  background-color: var(--cardcolor);

  padding: 15px;
  display: flex;
  position: relative;
}

.onetwo a {
  text-decoration: none;
}

.onetwo:hover {
  border-left: 50px solid var(--border);
}

.search-result.new-job .badge {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 10px;
  border-radius: 15px;
  border: 2px solid var(--prim);
  background-color: rgba(253, 137, 37, 0.2);
  color: var(--prim);
}

.search-result h2 {
  color: var(--h2);
}

.search-result a {
  text-decoration: none;
  color: rgb(36, 138, 250);
}

.search-result .icon {
  margin: 0 15px 0 0;
}

.search-result .reviews {
  color: var(--prim);
}

.search-result .actions {
  color: black;
  margin-top: 10px;
  font-size: 90%;
}
.actions span {
  padding: 100px;
}
#website {
  display: none;
}
#website > p {
  text-transform: capitalize;
  padding: 10px 0px;
  text-align: center;
  background-color: var(--website);
  color: white;
}

.search-result span {
  margin-right: 10px;
}

#address {
  color: black;
  margin-top: 5px;
}

.search-result .company,
.search-result .stars,
.search-result .reviews {
  font-size: 110%;
  margin-right: 0 !important;
  margin-top: 5px !important;
}

.search-result .stars {
  position: relative;
  color: var(--star);
  width: 100%;
}

.stars svg {
  width: 25px;
}

#cityname {
  padding: 50px 0;
  color: var(--sec);
  text-align: center;
  text-transform: capitalize;
  font-size: 4rem;
  font-weight: 300;
}
