.card{
    width: 314px ;
    height: 452px;
    margin-left: 20px;
    flex-wrap:row;
    margin-top: 20px;
}
 input.form-control,textarea.form-control, select.form-control{
    background-color: unset;border: 1px solid black;
}

#root,.wrapper{
    overflow: hidden;
}
.alert {
    margin-bottom: 0;
    text-align: center;
    padding: 8px;
    color: #fff;
    border-color: #000;
    border-radius: 0;
}
.alert-info {
    
    background-color: rgb(6, 69, 82);

}

#file::-webkit-file-upload-button{
    background-color: black;
    color:white;
    opacity: 0;
    padding: 100;
    border: 0;
}
/* rgb(29, 35, 38); */
label{
    text-align: center;
}


.form-check.form-check-inline{

        margin:auto;
}

.formqwe{
    background: white;
    border:2px solid black;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 20px;
    height: 90%;
    border-radius: 60px;
}
.forml{
    text-align: center;
}

#file{
    background: black;
    color: white;
    text-align: center !important;
}
