:root {
  --fontfam: "Cormorant Garamond", sans-serif;
  --spacing: 0em;
  --bs-link-hover-color: wheat;
  /* --bs-btn-hover-bg: red; */
  --formbg: rgb(62, 90, 53);
}
.form-group {
  position: relative;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.login-scree {
  width: 100%;
  overflow-x: hidden;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.login-scree .login-screen__form {
  width: 380px;
  padding: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background: rgb(62, 90, 53);
}

.login-scree .login-screen__title {
  font-family: var(--fontfam);
  letter-spacing: var(--spacing);
  font-size: 2.5em;
  text-align: center;
  color: white;
  margin-bottom: 1rem;
}
.login-scree .form-group input {
  background: transparent;

  color: white;
}
.login-scree label {
  padding-left: 20px;
  font-family: var(--fontfam);
  letter-spacing: var(--spacing);
  font-size: 1em;
  color: white;
}

#register {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-direction: column;
}

// .login-scree .form-group

.login-scree .form-group input:focus {
  /* background: azure;  */
  color: white;
}
form a {
  color: rgb(242, 200, 121) !important;
}
form a:hover {
}
.login-scree .login-screen__forgotpassword {
  font-size: 0.7rem;
}

.login-scree .login-screen__subtext {
  font-size: 0.7rem;
  display: block;
  margin: 0.5rem 0;
}

.login-scree .login-screen__form input {
  border: 0;
}
.login-scree .login-screen__form input:focus {
  outline: 0;
}
.login-scree .login-screen__form input {
  -webkit-user-select: auto !important;
}
// :is(.login-scree, .register-screen, .resetpassword-screen, .forgotpassword-screen)

:is(.login-scree, .register-screen, .resetpassword-screen, .forgotpassword-screen) {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  .btn-primary {
    background-color: white !important;
    color: black;
    width: 100%;
    &:hover {
      background-color: #0e1c36 !important;
      color: white;
    }
  }
  form {
    width: 380px;
    padding: 1.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: rgb(62, 90, 53);
  }
  .form-group input {
    border: 2px solid transparent;
    width: 100%;
    background-color: transparent !important;
    color: white;

    &::placeholder {
      font-family: var(--fontfam);
      letter-spacing: var(--spacing);
      text-transform: capitalize;
      color: white;
      opacity: 1;
    }
    &:focus {
      border-bottom: 2px solid rgb(244, 233, 229);
      outline: none;
    }
  }
  :is(h3, p, span) {
    color: white;
  }
  h3 {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1rem;
    font-family: var(--fontfam);
    letter-spacing: var(--spacing);
    font-size: 1.5em;
  }
  p {
    font-family: var(--fontfam);
    letter-spacing: var(--spacing);
    font-size: 0.8em;
    margin-bottom: 20px;
    text-align: center;
  }

  .register-screen__subtext {
    font-size: 0.7rem;
    display: block;
    margin: 0.5rem 0;
  }
}

@mixin sucessorerr {
  width: 100%;
  text-align: center;
  padding: 0;
  padding-bottom: 0;
  margin: 0;
  font-size: 20px;
}
p.error-message,
.error-message {
  background-color: red;
  @include sucessorerr;
}
p.success-message,
span.success-message {
  background-color: rgb(87, 185, 154);
  @include sucessorerr;
}
